// This file contains all the variables necessary for creating the Icon Font
// classes and their ligature/ASCII reference.
$icons--font-family-name: 'pp-icon';

$icons: (
    'atoz':                '\6f',
    'americanfootball':    '\40',
    'audiocommentary':     '\26',
    'audiocommentary-off': '\25',
    'aussierules':         '\61',
    'badminton':           '\62',
    'baseball':            '\45',
    'basketball':          '\6b',
    'bingo':               '\42',
    'bowls':               '\29',
    'boxing':              '\58',
    'card':                '\22',
    'changemarkets':       '\3d',
    'chevron-circle':      '\2f',
    'chevron-down':        '\5e',
    'chevron-left':        '\3c',
    'chevron-right':       '\3e',
    'commentary':          '\5d',
    'confirmtick':         '\60',
    'corner':              '\55',
    'cricket':             '\e621',
    'cup':                 '\7a',
    'cycling':             '\63',
    'darts':               '\64',
    'eurohockey':          '\65',
    'eventview':           '\4b',
    'fightingsports':      '\59',
    'fishing':             '\28',
    'financial':           '\4e',
    'football':            '\66',
    'football-invert':     '\46',
    'footvisual':          '\4a',
    'freekick':            '\30',
    'fulltime':            '\39',
    'futsal':              '\24',
    'gaa':                 '\41',
    'gaelicgames':         '\49',
    'goal':                '\38',
    'golf':                '\47',
    'greyhounds':          '\67',
    'halftime':            '\37',
    'handball':            '\5f',
    'home':                '\79',
    'horsejump':           '\48',
    'horseracing':         '\68',
    'hurling':             '\4c',
    'icehockey':           '\69',
    'kickoff':             '\36',
    'live':                '\7e',
    'livebetting':         '\6c',
    'livestreaming':       '\e60e',
    'locksuspend':         '\23',
    'mbs':                 '\a3',
    'medal':               '\6d',
    'minigames':           '\78',
    'motorracing':         '\4d',
    'multiview':           '\2d',
    'multiview-add':       '\2b',
    'ontv':                '\6e',
    'penaltymiss':         '\34',
    'penalty':             '\35',
    'play':                '\2a',
    'popout':              '\4f',
    'pp':                  '\50',
    'redcard-large':       '\6a',
    'rowing':              '\57',
    'rugbyleague':         '\72',
    'rugbyunion':          '\52',
    'sailing':             '\7b',
    'settings':            '\71',
    'shotofftarget':       '\33',
    'shotontarget':        '\32',
    'skiing':              '\51',
    'snooker':             '\53',
    'squash':              '\7d',
    'stats':               '\5b',
    'surfing':             '\3b',
    'swim':                '\73',
    'tabletennis':         '\54',
    'target':              '\70',
    'tennis':              '\74',
    'thefield':            '\20ac',
    'throwin':             '\31',
    'virtual':             '\56',
    'volleyball':          '\76',
    'warning':             '\21',
    'waterpolo':           '\3a',
    'wintersports':        '\77'
);

$icons-sportid: (
    '17':  map-get($icons, 'americanfootball'),
    '103': map-get($icons, 'aussierules'),
    '151': map-get($icons, 'badminton'),
    '18':  map-get($icons, 'baseball'),
    '16':  map-get($icons, 'basketball'),
    '146': map-get($icons, 'basketball'), // Euro Basketball
    '417': map-get($icons, 'basketball'), // Netball
    '161': map-get($icons, 'bowls'),
    '15':  map-get($icons, 'boxing'),
    '31':  map-get($icons, 'cricket'),
    '70':  map-get($icons, 'cycling'),
    '14':  map-get($icons, 'darts'),
    '150': map-get($icons, 'eurohockey'),
    '172': map-get($icons, 'fightingsports'), // UFC MMA
    '25':  map-get($icons, 'finance'),
    '322': map-get($icons, 'fishing'),
    '49':  map-get($icons, 'football'),
    '210': map-get($icons, 'football'), // Beach Soccer
    '180': map-get($icons, 'futsal'),
    '67':  map-get($icons, 'gaa'),
    '7':   map-get($icons, 'golf'),
    '130': map-get($icons, 'handball'),
    '81':  map-get($icons, 'horsejump'), // Show Jumping
    '23':  map-get($icons, 'horseracing'),
    '10':  map-get($icons, 'hurling'),
    '68':  map-get($icons, 'icehockey'), // American Ice Hockey
    '147': map-get($icons, 'icehockey'), // European Ice Hockey
    '8':   map-get($icons, 'motorracing'),
    '100': map-get($icons, 'rowing'),
    '27':  map-get($icons, 'rugbyleague'),
    '12':  map-get($icons, 'rugbyunion'),
    '122': map-get($icons, 'sailing'),
    '88':  map-get($icons, 'skiing'),
    '11':  map-get($icons, 'snooker'),
    '123': map-get($icons, 'snooker'), // Pool
    '351': map-get($icons, 'squash'),
    '371': map-get($icons, 'surfing'),
    '205': map-get($icons, 'swim'),
    '219': map-get($icons, 'tabletennis'),
    '13':  map-get($icons, 'tennis'),
    '142': map-get($icons, 'volleyball'),
    '164': map-get($icons, 'volleyball'), // Beach Volleyball
    '211': map-get($icons, 'waterpolo'),
    '152': map-get($icons, 'wintersports'),
);
