/**
    [1]   - Although we use the Design Tokens provided by the Design Tokens
            repository, we serialise them for use in Abacus so we can reference
            them with the use of a custom function: `design-token(map, key)`.
*/


// DESIGN TOKENS \\
// ------------- \\
@import 'token-mappings'; // [1]


// PROJECT FILES \\  Non-style Sass files. Contains various things such as
// ------------- \\  Variables, Mixins, and Sass Functions.
@import 'helpers/functions';
@import 'variables';
@import 'helpers/mixins';


// BASE STYLES \\  Basic element styling for elements such as <a> and <body> as
// ----------- \\  well as Normalize or Reset.

// Base
//
// The very base of Abacus! These items are responsbile for the underlying
// structure of the framework.
//
// Styleguide 1.0

@import 'base/normalize';


// Base::Typography
//
// Typography defined in Abacus is designed to be used on all channels and
// contains all the standard rules to get you up and running, along with
// some helpful modifiers for Heading tags, but is passive enough to be
// overwritten should the need arise.
//
// Our typeface is Arial, falling back to system-defined sans-serif if it's
// unavailable.
//
// <div class="row">
//     <div class="small-12 medium-6 columns demo demo--typeface">
//         <h2>Arial Regular</h2>
//         <hr>
//         <p>The quick brown fox jumps over the lazy dog.</p>
//         <p>
//             Bacon ipsum dolor amet ut shoulder landjaeger, ground round
//             bresaola dolore ea sirloin meatloaf frankfurter pancetta anim
//             leberkas tail aliquip. Culpa meatball ea, boudin pork corned
//             beef et irure prosciutto beef. Ham hock veniam beef kielbasa in.
//             Incididunt hamburger ea prosciutto short loin reprehenderit.
//         </p>
//     </div>
//     <div class="small-12 medium-6 columns demo demo--typeface demo--typeface-bold">
//         <h2>Arial Bold</h2>
//         <hr>
//         <p>The quick brown fox jumps over the lazy dog.</p>
//         <p>
//             Bacon ipsum dolor amet ut shoulder landjaeger, ground round
//             bresaola dolore ea sirloin meatloaf frankfurter pancetta anim
//             leberkas tail aliquip. Culpa meatball ea, boudin pork corned
//             beef et irure prosciutto beef. Ham hock veniam beef kielbasa in.
//             Incididunt hamburger ea prosciutto short loin reprehenderit.
//         </p>
//     </div>
// </div>
//
// Styleguide 1.1

@import 'helpers/classes';
@import 'base/skeleton';
@import 'base/tables';
@import 'base/forms';

@import 'components/typography/headings';
@import 'components/typography/lists';


// ========================================================================= \\

// Base::Grid
//
// The Abacus grid system is the exact same mobile-first grid system used in
// [Foundation for Sites 6](http://foundation.zurb.com/sites/docs/grid.html)
// (thank you, MIT licence!). If you know how to use Foundation's grid system,
// you already know how to use Abacus's grid system.
//
// Abacus currently uses the Standard grid, but will make the switch to using
// Foundation 6's [Flebox-powered Grid](http://foundation.zurb.com/sites/docs/flex-grid.html)
// which will drastically reduce filesize and complexity.
//
// Styleguide 1.2

@import 'foundation-sites/scss/util/util';
@import 'foundation-sites/scss/global';
@import 'foundation-sites/scss/components/visibility';

$grid-row-width:     $grid--max-width;
$grid-column-count:  $grid--columns;
$grid-column-gutter: $grid--gutter;
$breakpoints: (
    'small':   map-get($grid--breakpoints, 'small'),
    'medium':  map-get($grid--breakpoints, 'medium'),
    'large':   map-get($grid--breakpoints, 'large'),
    'xlarge':  map-get($grid--breakpoints, 'xlarge'),
    'xxlarge': map-get($grid--breakpoints, 'xxlarge')
);
$breakpoint-classes: $grid--classes;

@import 'foundation-sites/scss/grid/grid';

@if ($grid--flexbox) {
    @include foundation-flex-grid;
}
@else {
    @include foundation-grid;
}

@include foundation-visibility-classes;


// ========================================================================= \\


// Components
//
// This section describes the various components available throughout Abacus.<br>
// These are generally top-level components and are important to the overall
// structure of an Abacus-styled page.
//
// Styleguide 2.0

@import 'components/breadcrumbs';
@import 'components/buttons';
@import 'components/channelnav';
@import 'components/flash'; // undocumented
@import 'components/gem';
@import 'components/globalnav';
@import 'components/icons';
@import 'components/logo';
@import 'components/masthead';
@import 'components/panels';
@import 'components/pip';
@import 'components/spinner';
@import 'components/switch';


// ========================================================================= \\


// Plugins
//
// Styleguide 3.0

@import 'components/plugin/accordion';
@import 'components/plugin/carousel';
@import 'components/plugin/modal';
@import 'components/plugin/tabs';
@import 'components/plugin/tooltip';
