@include breakpoint("medium") {
  .Site--blog {
    .Site__main > .Container {
      display: flex;
    }
    
    .RecentPosts {
      flex: 1;
    }

    .Sidebar {
      flex: 0 1 25%;
      margin-top: 0;
      margin-left: calc(var(--site-owl-spacing) * 2);
    }
  }
}