{%- capture canonical_url -%}{{ site.url }}{{ page.url | replace:'index.html',''}}{%- endcapture -%}

<section class="container">
  <h1 class="SectionTitle">Comments</h1>
  <div id="disqus_thread" class="Comments Comments--dnt">
    <p>
      Hey! Looks like you've got your <em>Do Not Track</em> setting enabled in your
      browser.
    </p>
    <p>
      Since commenting is provided by
      <a href="https://disqus.com/" rel="external nofollow noreferrer">Disqus</a>, I've
      gone ahead and disabled them (and haven't even loaded their script). 💖
    </p>
  </div>
</section>

<script>
  if (!DNT) {
    const disqus_config = () => {
      this.page.url = "{{ canonical_url }}";
      this.page.identifier = "{{ page.id }}";
    };
    (() => {
      const d = document;
      const s = d.createElement('script');
      const c = d.getElementById('disqus_thread');
      s.src = 'https://coogie.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      c.classList.remove('Comments--dnt');
      (d.head || d.body).appendChild(s);
    })();
  }
</script>