<aside class="Sidebar">
  <section class="Sidebar__section">
    <section class="Social">
      <h1 class="SectionTitle">Follow me</h1>
      <ul class="o-list-bare">
        {% for item in site.social %}
          <li class="Social__item Social__item--{{ item[0] | downcase }}">
            <a href="{{ item[1] }}" class="Social__link">
              {{ item[0] }}
            </a>
            <svg class="Social__icon">
              <use xlink:href="#{{ item[0] | downcase }}" />
            </svg>
          </li>
        {% endfor %}
        <li class="Social__item Social__item--rss">
          <a class="Social__link" href="{{ "/feed.xml" | relative_url }}">RSS</a>
          <svg class="Social__icon">
            <use xlink:href="#rss" />
          </svg>
        </li>
      </ul>
    </section>
  </section>
</aside>
