.LabLinks {
}

.LabLinksJumper {
  min-height: 2rem;
  position: relative;

  &__link {
    display: block;
    background-color: #fff;
    border: 1px solid currentColor;
    border-top: none;
    border-radius: 0 0 3px 3px;
    padding: 0.25rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
