.Tags {
  justify-content: flex-start;
  padding: var(--site-owl-spacing) 0;

  &__item {
    border: 1px solid;
    border-radius: 4px;
    color: var(--color-primary);
    font-weight: bold;
    margin: 5px;
    padding: .25em .5em;
  }
}