<!DOCTYPE html>
<html lang="en" dir="ltr">

{%- include site/core/head.html -%}

{%- capture body_modifier -%}
  {%- if page.body_modifier -%}
    {{ page.body_modifier }}
  {%- else -%}
    {{ page.layout }}
  {%- endif -%}
{%- endcapture -%}

<body class="Site {% if body_modifier != '' %}Site--{{ body_modifier }}{% endif %}">
  <a href="#main-content" class="SkipNav">Skip to main content</a>
  {%- include site/core/svg.html -%}

  {%- include site/core/header.html -%}

  <main class="Site__main" id="main-content">
    {{ content }}
  </main>

  {%- include site/core/footer.html -%}

  <script src="{{ "/assets/scripts/fontface-observer.min.js" | absolute_url }}"></script>
  <script>
    const fontsLoadedPrior = document.cookie.split(';').filter((item) => item.includes('fonts=1')).length;
    const setFontsClassname = () => document.documentElement.classList.add('has-fonts');
    if (fontsLoadedPrior) {
      setFontsClassname();
    }
    
    const fontFamilies = {
      'Lato': { family: 'Lato', },
      'Merriweather400':  { family: 'Merriweather', weight: 400 },
      'Merriweather400i': { family: 'Merriweather', weight: 400, style: 'italic' },
      'Merriweather700':  { family: 'Merriweather', weight: 700 },
    };
    const observers = [];
    window.addEventListener('load', () => {
      Object.keys(fontFamilies).forEach(entry => {
        const { family, ...data } = fontFamilies[entry];
        const obs = new FontFaceObserver(family, data);
        observers.push(obs.load());
      });

      Promise.all(observers).then(fonts => {
        setFontsClassname();
        document.cookie = 'fonts=1';
      });
    });
  </script>

  {%- include site/core/analytics.html -%}
</body>
</html> 