---
layout: core
---

{% assign upper_minutes = page.content | number_of_words | divided_by: 160  %}
{% assign lower_minutes = page.content | number_of_words | divided_by: 180  %}

{% capture ttr %}
  {%- if upper_minutes == 0 -%}
    <1 minute read
  {%- elsif upper_minutes == lower_minutes -%}
    ~{{ upper_minutes }} minute read
  {%- else -%}
    {{ lower_minutes }}-{{ upper_minutes | append: " minute read" }}
  {%- endif -%}
{% endcapture %}

<header>
  {% include site/hero.html title=page.title posted=page.date ttr=ttr %}
</header>

<article class="container">
  {%- if page.lab -%}
  <div class="LabLinksJumper">
    <a class="LabLinksJumper__link" href="#demos">Jump to demos</a>
  </div>
  {%- endif -%}

  {{ page.content }} 

  {%- if page.lab -%}
  <h2 id="demos">Links to live demos:</h2>
  <ul class="LabLinks">
    {%- for item in page.lab -%}
      {%- assign link = "/lab/" | append: item.link | absolute_url -%}
      <li class="LabLinks__item">
        <a href="{{ link }}">{{ item.label }}</a>
      </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}

</article>

{% if page.comments %}
  {% include site/comments.html %}
{% endif %}