.container {
  margin: auto;
  max-width: var(--site-content-max-width);
  width: var(--site-container-width);
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  &__main {
    flex: 1;
    margin-top: 0;
  }

  .Tags {
    margin-top: -15px;      
  }

  &__content {
  }
}

@include breakpoint("medium") {
  .Site__content {
    display: flex;

    .Block + .Block {
      flex-basis: 100%;
      margin-top: 0;
      margin-inline-start: 3em;
    }

    .Specialise {
      flex-basis: 200%;
    }
  }
}


@include breakpoint("medium") {
  .Site--contact,
  .Site--cv,
  .Site--post {
    .Site__main > .container {
      --site-container-width: 75%;
    }
  }
}

@include breakpoint("large") {
  .Site--contact,
  .Site--cv,
  .Site--post {
    .Site__main > .container { 
      --site-container-width: 50%;
    }
  }
}